@{
    Layout = "page";
    Title = "FsBlog";
    Description = "A blog aware static site generator in mostly F#";
}
@using System.Linq

<div class="posts">
    @foreach (var post in Enumerable.Take(Model.Posts, 10))
    {
        <div class="post">
            <h1 class="post-title">
                <a href="/blog">Hellow</a>
            </h1>
    
            <span class="post-date">2015.12.03</span>
        
            <a href="@post.Url/index.html">@post.Title</a>
        </div>
    }
</div>