@{
    Layout = "page";
    Title = "FsBlog";
    Description = "A blog aware static site generator in mostly F#";
}

<div class="posts">
  <div class="post">
    <h1 class="post-title">
      <a href="/blog">Helloworld</a>
    </h1>

  </div>
</div>

